/* Mobielformaat */

main { 
  display: grid;
  grid-template-columns: repeat(6 ,1fr);
  padding-bottom: 20px;
  justify-items: center;
  align-items: center;
  background-color: #fff;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.portfolio > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

html, body {
  background-color: #b1d1da;
  margin: 0;
}

.portfolio {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  background-color: #fff;
  align-items: center;
  justify-items: center;
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

h1 {
  font-size: 3em;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

header {
  grid-column: 1 /-1;
  background-image: url(images/header.jpg);
  background-size: cover;
  opacity: 0.5;
  height: 200px;
}
.logo {
  display: none;
}

nav {
  display: flex;
  background-color: #6b383f;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5em;
  flex-direction: column;
}
.item {
    padding: 7px;
    border-bottom: 4px solid #fff;
    line-height: 50px;
}
.item:hover, item:focus {
  padding: 7px;
  border-bottom: 4px solid #000;
}

figure {
  grid-column: 1 / -1;
  background-color: #fff;
  padding: 20px;
}
figure img {
  opacity: 0.7;
}

.title {
  grid-column: 1 / -1;
  background-color: #fff;
  font-family: Bon Voyage Script;
  font-size: 4em;
  font-weight: bolder;
  letter-spacing: 15px;
}

section {
  grid-column: 1 / -1;
  justify-content: center;
  background-color: #fff;
  margin: 15px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #eee;
}
section h1 {
  font-size: 2.5em;
  font-weight: bolder;
}
section h2 {
  font-size: 2em;
  font-weight: bolder;
  margin: 10px 0;
}
section p {
  font-size: 1.5em;
}

article {
  background-color: #fff;
  margin: 15px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 10px 10px 5px #eee;
  height: 90%;
  width: 90%;
}
article h1 {
  font-size: 2.5em;
  font-weight: bolder;
}
article h2 {
  font-size: 2em;
  font-weight: bolder;
  margin: 10px 0;
}
article p {
  font-size: 1.5em;
}

footer {
  display: flex;
  background-color: #6b383f;
  justify-content: space-evenly;
  padding: 20px 0;
  align-items: baseline;
}
a.fab {
  font-size: 4em;
}
a.fab:hover {
  color:#000
}

.blog {
  display: grid;
  grid-column: 1 / 1;
  background-color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
}

#more {display: none;}

.form {
  grid-column: 2 / -1;
  background-color: #fff;
}
.form p {
  font-size: 1.5em;
}

label {
  line-height: 35px;
}

/*tabletformaat*/
@media (min-width: 768px) {
  .blog {
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  }

  nav {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }

  nav {
    flex-direction: row;
  }

  .logo {
    display: flex;
    padding: 100px 30px 0px 0px;
    font-family: Bon Voyage Script;
    font-size: 4em;
    font-weight: bolder;
    letter-spacing: 15px;
    justify-content: flex-end;
  }

  figure {
    grid-column: 1 / 4;
  }

  section {
    grid-column: 4 / -1;
  }

  .blog {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
}
